*.pkl
*.pickle
*.pk
*.gzip
*.parquet
*.csv
*.log
credentials.py
__pycache__
.ipynb_checkpoints
*.xls
launch.json
settings.json
omar.egg-info
.pytest_cache
.vscode
.DS_Store
htmlcov
.coverage
airflow-env
.hypothesis
files
omar_airflow/airflow-data/logs
charmap.json.gz
.idea
report.html
